@using System.Web.Configuration
@model ToyBot.Models.Tweet
<div id ="tweet-details">
    <p><strong>
           Tweet
       </strong>
        @Model.Post</p>
    
    <p>
        <strong>Intelligence Rating</strong>
        @Model.IntelligenceRating
    </p>
</div>
